name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 21
        project:
          - 2_13
          - 3
    env:
      REDIS_HOME: "redis-6.2.14/src"
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: coursier/cache-action@v6
    - run: ./install-redis.sh
    - run: sbt
           scalafmtSbtCheck
           "project rediscala${{ matrix.project }}"
           scalafmtCheckAll
           Test/compile
           "$(if [[ "${{ matrix.java }}" != '8' ]]; then echo "scalafixAll --check"; fi)"
    - uses: nick-invision/retry@v3
      with:
        timeout_minutes: 20
        max_attempts: 3
        command: sbt "project rediscala${{ matrix.project }}" "onFailure testQuick" test
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    env:
      scala_version: "3.5.1-RC2"
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: adopt
    - uses: coursier/cache-action@v6
    - run: sbt
           "++ ${{env.scala_version}}!"
           rediscala3/Test/compile
    - uses: nick-invision/retry@v3
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: sbt
                 "++ ${{env.scala_version}}!"
                 rediscala3/runDockerTests
