name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java:
          - 17
          - 25
    env:
      REDIS_HOME: "redis-6.2.18/src"
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: ./install-redis.sh
    - run: sbt --server -v
           scalafmtSbtCheck
           scalafmtCheckAll
           Test/compile
           mimaReportBinaryIssues
           scalafixConfigRuleNamesSortCheck
           "$(if [[ "${{ matrix.java }}" != '8' ]]; then echo scalafixCheckAll; fi)"
    - uses: nick-invision/retry@v3
      with:
        timeout_minutes: 20
        max_attempts: 3
        command: sbt -v --server
                 "onFailure testQuick"
                 test
  latest:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    env:
      scala_version: "3.8.2-RC3"
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: zulu
    - uses: coursier/cache-action@v8
    - uses: sbt/setup-sbt@v1
    - run: sbt -v --server
           "++ ${{env.scala_version}}!"
           Test/compile
    - uses: nick-invision/retry@v3
      with:
        timeout_minutes: 10
        max_attempts: 3
        command: sbt -v --server
                 "++ ${{env.scala_version}}!"
                 runDockerTests
